<settings>
	<pluginGroups>
		<pluginGroup>org.ekstazi</pluginGroup>
	</pluginGroups>
	<servers>
		<server>
			<id>developer</id>
			<username>vm-dev</username>
			<password>devel0per</password>
		</server>
		<server>
			<id>deployment</id>
			<username>deployment</username>
			<password>theDepl0yer</password>
		</server>

	</servers>
	<mirrors>
		<mirror>
			<!--This sends everything else to /public -->
			<id>developer</id>
			<mirrorOf>*</mirrorOf>
			<!--<url>http://nexus.colo.vm:8081/nexus/content/groups/public</url>-->
			<url>http://91.102.12.212:10000/nexus/content/groups/public</url>
		</mirror>
	</mirrors>

	<profiles>

		<profile>
			<id>nexus</id>
			<!--Enable snapshots for the built in central repo to direct -->
			<!--all requests to nexus via the mirror -->

			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<deploy.id>deployment</deploy.id>
				<!--				<deploy.snapshot>http://nexus.colo.vm:8081/nexus/content/repositories/snapshots/</deploy.snapshot>-->
				<deploy.snapshot>http://91.102.12.212:10000/nexus/content/repositories/snapshots/</deploy.snapshot>
				<!--<deploy.snapshot>http://10.0.0.4:8081/nexus/content/repositories/snapshots/</deploy.snapshot>-->
			</properties>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>sonar</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<!-- Example for MySQL-->
				<sonar.jdbc.url>
					jdbc:mysql://10.0.0.3:3306/sonar?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8
				</sonar.jdbc.url>
				<sonar.jdbc.username>sonar</sonar.jdbc.username>
				<sonar.jdbc.password>sonar</sonar.jdbc.password>
				<!-- Optional URL to server. Default value is http://localhost:9000 -->
				<sonar.host.url>http://10.0.0.3:9000</sonar.host.url>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<!--make the profile active all the time -->
		<!--<activeProfile>nexus</activeProfile>-->
	</activeProfiles>
</settings>
